*{
/* border:4px solid red;*/
  margin:0px;
  padding:0px;
  font-size:1.3rem;
}
  .kdk{
color:white;
width:100vw;
height:100vh;
}
.kdk .collogo{
  display:none;
}
.kdk img{
  width:100%;
  height:100%;
  display:block;
  position:absolute;
  top:0px;
}
.kdk .detail{
  background-color:rgba(17, 24, 39, 0.7);
  box-sizing:border-box;
  position:absolute;
  width:50%;
  height:100%;
  right:0px;
  top:0px;
  border-radius:25px;
  padding:1rem;
}
.kdk .quotepic{
  width:80px;
  height:80px;
  display:block;
  position:static;
  margin:7px;
}
.picsel{
  width:85%;
  height:100vh;
  margin:10px auto;
  background-color:rgba(17, 24, 39, 0.3);
  padding:1rem;
  border-radius:10px;
}
.picsel img{
  width:40%;
}
.picsel>div{
  display:flex;
  align-items:center;
  margin:15px;
  justify-content: space-between;
}
.picsel .hori{
  width:78%;
  height:1px;
  background:black;
  position:absolute;
}
.picsel .ver{
  width:1px;
  height:50%;
  background:black;
  position:relative;
}


@media (orientation:portrait){
  
  *{
  font-size:1rem;
  }
  .kdk .collogo{
    display:block;
    position:absolute;
    top:140px;
    left:30%;
    border-radius:50%;
    border:2px solid rgba(17, 24, 39);
    width:180px;
    height:180px;
  }
  .kdk img{
    height:30%;
    position:static;
  }
  .kdk .detail{
   position:static;
   width:100%;
   border-radius:0;
  }
  .kdk .detail>div{
    margin-top:30px;
  }
  .kdk .detail .quote{
    display:none;
  }
}