*{
  margin:0px;
  
}
.kdk{
  height:675px;
}
.kdk>img{
  position:absolute;
  z-index:-1;
  height:670px;
  width:100%;
}
.kdk .detail{
  color:white;
  box-sizing:border-box;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  padding:1rem;
  width:50%;
  height:670px;
  background:rgba(17,24,39,0.5);
  border-radius:40px;
  margin-left:auto;
}
.kdk .detail h1{
  text-align:center;
  margin:20px;
  font-family:serif;
}
.collogo{
  display:none;
}
.quotepic{
  width:120px;
  height:120px;
}
.quote{
  display:flex;
  justify-content:space-around;
  align-items:center;
}
.picsel{
  display:flex;
  flex-direction:column;
  align-items:center;
  width:100%;
  margin-bottom:50px;
}
.pname{
  width:85%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin:100px 0px;
}
.pname h1{
  font-family:serif;
  font-size:100px;
  text-shadow:1.5px 1.5px 5px black;
}
.pdetail{
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  color:white;
  
}
.pdetail>div{
  box-sizing:border-box;
  padding:2rem;
  display:flex;
  justify-content:space-around;
  background:rgb(17,24,39);
  width:75%;
}
#tilt{
  transform:rotateY(45deg);
  display:block;
  box-shadow:9px 3px 10px grey;
}
.pgoals{
  width:100% !important;
  background:white !important;
  color:black !important;
  border:2px solid black;
  height:440px;
  display:block !important;
}

.pgoals div{
  height:181px;
  display:flex;
  padding:0.5rem;
  justify-content:space-around;
}
.pgoals div img{
  height:160px;
}
.ver{
  width:0.2px;
  height:420px !important;
  background:black;
  display:block;
  left:50%;
  bottom:120px;
  position:absolute;
  padding:0px !important;
}
.eitem{
  transition:1s;
  transform:rotateY(90deg);
  opacity:0;
}
.eishow{
  opacity:1;
  transform:none;
}
.achieve{
  display:flex;
  padding:1rem;
  justify-content:space-between;
  border:2px solid white;
  border-radius:20px;
  margin-top:10px;
}
.achieve img{
  height:100px;
  border:1px solid white;
}
#ach{
  display:block;
}
#ach h1{
  margin:30px;
}
.fahren{
  background:rgb(17,24,39);
  display:flex;
  flex-direction:column;
  align-items:center;
}
.fahren img{
  width:100%;
  height:220px;
}
.fahren div{
  width:70%;
  margin-top:25px;
  background:white;
  padding:1.5rem;
}
.fahren .slider{
  height:350px;
  width:100%;
  display:flex;
  background:grey;
  overflow-x:auto;
  padding:0px;
}
.fahren .slider div{
  width:150px;
  height:260px;
  border:5px solid rgb(17,24,39);
  margin:20px;
  padding:1.5rem;
  border-radius:10px;
}
.fahren .slider img{
  height:80px;
}
@media (max-width:500px){
  
}
/*
.picsel{
  width:85%;
  height:100vh;
  margin:10px auto;
  background-color:rgba(17, 24, 39, 0.3);
  padding:1rem;
  border-radius:10px;
}
.picsel img{
  width:40%;
}
.picsel>div{
  display:flex;
  align-items:center;
  margin:15px;
  justify-content: space-between;
}
.picsel .hori{
  width:78%;
  height:1px;
  background:black;
  position:absolute;
}
.picsel .ver{
  width:1px;
  height:50%;
  background:black;
  position:relative;
}


@media (orientation: portrait) {
  
  *{
  font-size:1rem;
  }
  .kdk .collogo{
    display:block;
    position:absolute;
    top:140px;
    left:30%;
    border-radius:50%;
    border:2px solid rgba(17, 24, 39);
    width:180px;
    height:180px;
  }
  .kdk img{
    height:30%;
    position:static;
  }
  .kdk .detail{
   position:static;
   width:100%;
   height:70%;
   border-radius:0;
  }
  .kdk .detail>div{
    margin-top:30px;
  }
  .kdk .detail .quote{
    margin-top:100px;
    border:1px solid black;
  }
}*/